.md-toolbar-tools .nav-menu {
  margin: auto 10px;
  font-size: 16px;
}
.main-container {
  margin: auto;
  max-width: 1024px;
}
.main-container .jumbotron-title {
  color: #3F51B5;
}
.main-cards-container md-card img {
  height: 240px;
  width: 100%;
}
.main-cards-container md-card-content p {
  min-height: 60px;
}
